<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    {{!-- must use two sets of curly braces to call the value from your key "name" within index.js --}}
    <div>Hello {{name}}, you're in landing page
        I see you're in {{location}} using a {{laptop}}
        👀
    </div>
</body>

</html>

{{!-- if want to use a common code in many hbs files, must use partials --}}