<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{{ body }}}
    {{!-- we're telling hbs to have all hbs files have this layout EXCEPT for the body tag --}}
    {{!-- must use THREE curly braces!! --}}
    {{!-- body is a keyword, it's always going to be body
        layout is also a keyword in handlebars --}}
</body>

</html>